<section id="main">
    <div id="search-div" class="search-div">
        <input type="text" id="search-input" class="search-input" placeholder="Search images...">
        <button id="search-button" class="search-button">Search</button>
    </div>
    <div id="loading-spinner" class="hidden">
        <div class="spinner"></div>
      </div>
    <ul id="gallery" class="gallery"></ul>
    <div class="load-more-div"><button class="search-button" id="load-more-button">Load More</button></div>
</section>